NET "buttona" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonadd" LOC = P24 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonb" LOC = P50 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonsub" LOC = P27 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonc" LOC = P51 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttonmul" LOC = P33 | IOSTANDARD = LVTTL | PULLDOWN;
NET "buttondiv" LOC = P41 | IOSTANDARD = LVTTL | PULLDOWN;




NET "motherled<0>" LOC = P22 | IOSTANDARD = LVTTL; 
NET "motherled<1>" LOC = P17 | IOSTANDARD = LVTTL;
NET "motherled<2>" LOC = P12 | IOSTANDARD = LVTTL;
NET "motherled<3>" LOC = P137 | IOSTANDARD = LVTTL;
NET "motherled<4>" LOC = P140 | IOSTANDARD = LVTTL;
NET "motherled<5>" LOC = P142 | IOSTANDARD = LVTTL;
NET "motherled<6>" LOC = P138 | IOSTANDARD = LVTTL;
NET "motherled<7>" LOC = P144 | IOSTANDARD = LVTTL;

NET "billyled<0>" LOC = P15 | IOSTANDARD = LVTTL;
NET "billyled<1>" LOC = P10 | IOSTANDARD = LVTTL;
NET "billyled<2>" LOC = P6 | IOSTANDARD = LVTTL;
NET "billyled<3>" LOC = P2 | IOSTANDARD = LVTTL;
NET "billyled<4>" LOC = P8 | IOSTANDARD = LVTTL;
NET "billyled<5>" LOC = P118 | IOSTANDARD = LVTTL;
NET "billyled<6>" LOC = P98 | IOSTANDARD = LVTTL;



NET "sevenseg_d<0>" LOC = P5 | IOSTANDARD = LVTTL;
NET "sevenseg_d<1>" LOC = P1 | IOSTANDARD = LVTTL;
NET "sevenseg_d<2>" LOC = P139 | IOSTANDARD = LVTTL;
NET "sevenseg_d<3>" LOC = P141 | IOSTANDARD = LVTTL;
NET "sevenseg_d<4>" LOC = P143 | IOSTANDARD = LVTTL;
NET "sevenseg_d<5>" LOC = P9 | IOSTANDARD = LVTTL;
NET "sevenseg_d<6>" LOC = P11 | IOSTANDARD = LVTTL;

NET "sevenseg_c<0>" LOC = P26 | IOSTANDARD = LVTTL;
NET "sevenseg_c<1>" LOC = P23 | IOSTANDARD = LVTTL;
NET "sevenseg_c<2>" LOC = P14 | IOSTANDARD = LVTTL;
NET "sevenseg_c<3>" LOC = P16 | IOSTANDARD = LVTTL;
NET "sevenseg_c<4>" LOC = P21 | IOSTANDARD = LVTTL;
NET "sevenseg_c<5>" LOC = P32 | IOSTANDARD = LVTTL;
NET "sevenseg_c<6>" LOC = P34 | IOSTANDARD = LVTTL;

NET "sevenseg_b<0>" LOC = P66 | IOSTANDARD = LVTTL;
NET "sevenseg_b<1>" LOC = P84 | IOSTANDARD = LVTTL;
NET "sevenseg_b<2>" LOC = P82 | IOSTANDARD = LVTTL;
NET "sevenseg_b<3>" LOC = P80 | IOSTANDARD = LVTTL;
NET "sevenseg_b<4>" LOC = P78 | IOSTANDARD = LVTTL;
NET "sevenseg_b<5>" LOC = P57 | IOSTANDARD = LVTTL;
NET "sevenseg_b<6>" LOC = P74 | IOSTANDARD = LVTTL;

NET "sevenseg_a<0>" LOC = P111 | IOSTANDARD = LVTTL;
NET "sevenseg_a<1>" LOC = P104 | IOSTANDARD = LVTTL;
NET "sevenseg_a<2>" LOC = P92 | IOSTANDARD = LVTTL;
NET "sevenseg_a<3>" LOC = P94 | IOSTANDARD = LVTTL;
NET "sevenseg_a<4>" LOC = P87 | IOSTANDARD = LVTTL;
NET "sevenseg_a<5>" LOC = P99 | IOSTANDARD = LVTTL;
NET "sevenseg_a<6>" LOC = P101 | IOSTANDARD = LVTTL;





NET "equalled" LOC = P58 | IOSTANDARD = LVTTL;


NET "operator1<0>" LOC = P75 | IOSTANDARD = LVTTL;
NET "operator1<1>" LOC = P81 | IOSTANDARD = LVTTL;
NET "operator1<2>" LOC = P93 | IOSTANDARD = LVTTL;
NET "operator1<3>" LOC = P79 | IOSTANDARD = LVTTL;

NET "operator2<0>" LOC = P88 | IOSTANDARD = LVTTL;
NET "operator2<1>" LOC = P116 | IOSTANDARD = LVTTL;
NET "operator2<2>" LOC = P67 | IOSTANDARD = LVTTL;
NET "operator2<3>" LOC = P83 | IOSTANDARD = LVTTL;













