

NET "s" LOC = P27 | IOSTANDARD = LVTTL | PULLDOWN;
NET "c_o" LOC = P124 | IOSTANDARD = LVTTL | PULLDOWN;

NET "a" LOC = P51 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b" LOC = P33 | IOSTANDARD = LVTTL | PULLDOWN;
NET "c_i" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN